.app-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
  line-height: 3.7rem;
  letter-spacing: -1px;
}

.blur-wrapper {
  padding: 0;
}

.wrap-1,
.wrap-2 {
  display: flex;
  gap: 14px;
}

.blur-text {
  color: #e0e0e0;
  font-size: 64px;
  font-weight: 800;
  margin: 0;
  -webkit-text-stroke: 3px #e0e0e0;
}

.blur-text-color {
  color: rgb(155, 155, 155);
  font-size: 74px;
  font-weight: 800;
  padding-top: 2px;
  margin: 0;
  -webkit-text-stroke: 3px rgb(155, 155, 155);
}

/* Responsive Styles */
@media (max-width: 750px) {
  .app-wrapper {
    margin-right: 20px;
    line-height: 2.7rem;
  }

  .blur-text {
    color: #e0e0e0;
    font-size: 48px;
    -webkit-text-stroke: 3px #e0e0e0;
  }

  .blur-text-color {
    color: rgb(155, 155, 155);
    font-size: 56px;
    -webkit-text-stroke: 3px rgb(155, 155, 155);
  }
}

@media (max-width: 500px) {
  .app-wrapper {
    margin-right: 10px;
    line-height: 2.2rem;
  }

  .blur-text {
    color: #e0e0e0;
    font-size: 36px;
    -webkit-text-stroke: 3px #e0e0e0;
  }

  .blur-text-color {
    color: rgb(155, 155, 155);
    font-size: 46px;
    -webkit-text-stroke: 3px rgb(155, 155, 155);
  }
}

@media (max-width: 250px) {
  .app-wrapper {
    margin-right: 4px;
    line-height: 1.8rem;
  }

  .blur-text {
    font-size: 28px;
    -webkit-text-stroke: 1px rgb(20, 20, 20);
  }

  .blur-text-color {
    font-size: 36px;
    -webkit-text-stroke: 1px rgb(98, 98, 98);
  }
}
