
.app-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
  line-height: 60px;
}

.blur-wrapper {
  padding: 0;
}

.wrap-1,
.wrap-2 {
  display: flex;
  gap: 14px;
}

.blur-text {
  font-family: pafigo;
  color: #ffffff;
  font-size: 5rem;
  font-weight: bold;
  margin: 0;
  /* -webkit-text-stroke: 3px #000000; */
}

.blur-text-color {
  font-family: pafigo;
  color: rgb(229, 151, 40);
  font-size: 104px;
  font-weight: 800;
  padding-top: 2px;
  margin: 0;
  /* -webkit-text-stroke: 3px rgb(155, 155, 155); */
}

/* Responsive Styles */
@media (max-width: 750px) {
  .app-wrapper {
    margin-right: 20px;
    line-height: 2.7rem;
  }

  .blur-text {

    font-size: 48px;

  }

  .blur-text-color {

    font-size: 56px;

  }
}

@media (max-width: 500px) {
  .app-wrapper {
    margin-right: 10px;
    line-height: 2.2rem;
  }

  .blur-text {

    font-size: 36px;
  
  }

  .blur-text-color {
   
    font-size: 46px;
  
  }
}

@media (max-width: 250px) {
  .app-wrapper {
    margin-right: 4px;
    line-height: 1.8rem;
  }

  .blur-text {
    
    font-size: 28px;

  }

  .blur-text-color {
    font-size: 36px;

  }
}
