.carousel-card {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: transform 0.3s ease;
  width: 255px;
}

.carousel-card:hover {
  transform: scale(1.05);
}

.carousel-card-image-wrapper {
  width: 100%;
  padding-top: 100%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.carousel-card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-card-details {
  margin-top: 10px;
}

.carousel-card-title {
  font-size: 1rem;
  color: #000000;
  font-weight: 600;
  margin-bottom: 6px;
}

.carousel-card-artist,
.carousel-card-date,
.carousel-card-price {
  font-size: 0.85rem;
  color: #000000;
  margin: 2px 0;
}

/* Media Query for <=750px */
@media (max-width: 750px) {
  .carousel-card {
    width: 180px;
  }

  .carousel-card-title {
    font-size: 0.85rem;
  }

  .carousel-card-artist,
  .carousel-card-date,
  .carousel-card-price {
    font-size: 0.7rem;
  }
}

/* Media Query for <=250px */
@media (max-width: 250px) {
  .carousel-card {
    width: 100px;
  }

  .carousel-card-title {
    font-size: 0.75rem;
  }

  .carousel-card-artist,
  .carousel-card-date,
  .carousel-card-price {
    font-size: 0.55rem;
  }
}
