.words-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
  margin: 20px;
  margin-right: 33.8rem;
  margin-left: 35rem;
  background-color: rgb(0, 0, 0);
  border-radius: 100px;
  padding: 12px;
  margin-top: 10rem;
}

.word {
  display: inline-block;
  font-size: 2rem;
  font-weight: 900;
  color: rgb(167, 167, 162);
  -webkit-text-stroke: 2.7px rgb(167, 167, 162);
}
