.words-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
  margin-right: 33.8rem;
  margin-left: 35rem;
  background-color: rgb(229, 151, 40);
  border-radius: 100px;
  padding: 12px;
  margin-bottom: 5rem;
  margin-top: 7rem;
}

.word {
  display: inline-block;
  font-size: 2rem;
  font-weight: 900;
  color: rgb(241, 241, 241);
  -webkit-text-stroke: 2.7px  rgb(241, 241, 241);
}
