.navbar {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 20px;
  padding-top: 30px;
  background-color: #ffffff06;
}

.logo-img {
  width: 32px;
  height: 32px;
}

.navbar-logo {
  font-size: 20px;
  font-weight: 700;
}

.nav-wrap {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar-links li a {
  text-decoration: none;
  color: #222;
  font-weight: 500;
}

.navbar-links li a:hover {
  text-decoration: underline;
}

.get-app-button {
  background-color: #222;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
}

.get-app-button:hover {
  background-color: #000;
}
