.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  /* background-color: #ffffff; */
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); */
  position: sticky;
  top: 0;
  z-index: 999;
}

.logo-link{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.logo-img {
  width: 36px;
  height: 36px;
}

.navbar-logo {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}

.nav-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
}

.navbar-links li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  transition: color 0.2s;
}

.navbar-links li a:hover {
  color: #ffffff;
}

.get-app-button {
  background-color: #171717;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.4s;
}

.get-app-button:hover {
  background-color: #404040;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  color: #000000;
  cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 750px) {
  .navbar {
    padding: 20px;
  }
  .logo-img {
  width: 29px;
  height: 29px;
}
  .navbar-logo {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}

  .hamburger {
    display: block;
    color: #ffffff;
  }

  .navbar-links {
    position: absolute;
    top: 70px;
    right: 20px;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.804);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    display: none;
  }

  .navbar-links.open {
    display: flex;
    z-index: 99;
  }
}

@media (max-width: 250px) {
  .navbar {
    padding: 10px;
  }

  .navbar-logo {
    font-size: 16px;
  }

  .logo-img {
    width: 28px;
    height: 28px;
  }

  .get-app-button {
    padding: 6px 10px;
    font-size: 12px;
  }
}
