.body-section {
  padding-top: 1rem;
}

.page-colour {
  background-color: #000000;
  padding-top: 1px;
    padding-bottom: 1px;
}

.trending-events {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.trending-events h2 {
  font-size: 2rem;
}

.loop-words {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  rgb(255, 174, 59);
  border-radius: 20px;
  padding: 12px 32px;
  gap: 10.5px;
  margin-top: 2rem;
  /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); */
}

.loop-words h2{
  margin: 0px;
  margin-bottom: 2px;
  color: #ffffff;
  /* text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25); */
}

.loop-design {
  font-size: 2rem;
  font-weight: 700;
  color: rgb(14, 14, 14);
  /* text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.121); */
}

.trending-events p {
  text-align: center;
  max-width: 550px;
  color: #1c1c1c;
  margin-top: 1.5rem;
  margin-bottom: 2.3rem;
}

.browse-button {
  background-color: #171717;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.browse-button:hover {
  background-color: #404040;
}

.carousel-track::-webkit-scrollbar {
  display: none;
}

.steps-section h2 {
  font-size: 1.75rem;
  margin-bottom: 2rem;
  text-align: center;
}

.fadeItem-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  margin-top: 4rem;
  padding: 0 1rem;
  text-align: center;
  margin-bottom: 4rem;
}

.fade-item {
  max-width: 320px;
  font-size: 1.4rem;
  font-weight: 600;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
}

.plus-wrap {
  display: flex;
  align-items: baseline;
  gap: 0.4rem;
  justify-content: center;
}

.count-up-text {
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
}

.plus {
  font-size: 2.5rem;
  color: rgb(229, 151, 40);
  font-weight: 800;
}

.alternating-sections {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 4rem 2rem;
}

.alt-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-direction: row;
}

.alt-section.reverse {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-direction: row;
  
}

.alt-img {
  flex: 1;
  max-width: 400px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0);
}

.alt-text {
  flex: 1;
  max-width: 500px;
  color: #1c1c1c;
}

.alt-text h3 {
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.alt-text p {
  font-size: 1rem;
  line-height: 1.6;
}

/* Responsive Tablet & Below */

@media (max-width: 768px) {
 .trending-events h2 {
  font-size: 1rem;
}

.trending-events {
  margin-bottom: 2rem;
}

.loop-words {
  padding: 10px 28px;
  gap: 7px;
  margin-top: 0.7rem;
}

.trending-events p {
  max-width: 350px;
  font-size: 0.8rem;
}

.browse-button {
  font-size: 13px;
  padding: 10px 11px;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;
}

  .count-up-text {
    font-size: 2.2rem;
  }

  .plus {
    font-size: 1.8rem;
  }

    .alt-section {
    flex-direction: column;
    gap: 2rem;
  }

  .alt-section.reverse {
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .alt-text h3 {
    font-size: 1.3rem;
    text-align: center;
  }

  .alt-text p {
    font-size: 0.95rem;
    text-align: center;
    padding: 0 0.5rem;
  }

  .alt-img {
    max-width: 300px;
    width: 90%;
  }

}

/* Ultra-Mobile: 250px+ screens */

@media (max-width: 300px) {
 .trending-events h2 {
  font-size: 0.7rem;
}

.trending-events {
  margin-bottom: 2rem;
}

.loop-words {
  padding: 7px 21px;
  gap: 7px;
  margin-top: 0.2rem;
}

.trending-events p {
  max-width: 320px;
  font-size: 0.7rem;
}

.browse-button {
  font-size: 10px;
  padding: 10px 10px;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;
}

  .count-up-text {
    font-size: 1.6rem;
  }

  .plus {
    font-size: 1.3rem;
  }

    .alt-text h3 {
    font-size: 1rem;
    text-align: center;
  }

  .alt-text p {
    font-size: 0.7rem;
    text-align: center;
    padding: 0 0.5rem;
  }

  .alt-img {
    max-width: 240px;
    width: 100%;
  }


}