html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "pafigo";
  src: url("/Dh-Pafigo.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "taki";
  src: url("/Takisumo.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "geom";
  src: url("/Geom-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "geom-r";
  src: url("/Geom-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


body {
  margin: 0;
  font-family: geom-r, Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
}

.img-wrapper {
  background: url("/src/assets/background/vinyl.jpg") center 0px;
  background-size: 115rem;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* .glass-wrap{
 
} */

@media (max-width: 1024px) {
  .img-wrapper {
    background: url("/src/assets/background/vinyl.jpg") center -300px;
    background-size: 135rem;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

/* .glass-wrap {
  background: rgba(255, 255, 255, 0.159); 
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .glass-wrap {
    padding: 1rem;
    margin: 1rem;
    border-radius: 12px;
  }
} */

/* .video-wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
  }

  .bg-video {
    position: absolute;
    top: 50%;
    left: 55%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: fill;
    z-index: -1;
  }


  .video-overlay {
    position: relative;
    z-index: 1;
  }

  .other-wrap {
    background-color: rgba(255, 255, 255, 0.961);
  }

  @media (prefers-color-scheme: dark) {
    .bg-video {
      filter: none !important;
      mix-blend-mode: normal;
      background-color: transparent;
    }
  } */
